@import
	"includes/reset",
	"includes/webfont",
	"includes/global",
	"includes/button",
	"includes/counter",
	"includes/disc",
	"includes/form",
	"includes/player",
	"includes/preview";












/*
 * ANIMATIONS: PREVIEW
 */
#previewInfo:hover .disc_mask_outer {
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	transform:rotate(10deg);
}

.videoInfo.open .disc_mask_outer {
	top:0 !important;
	
	-webkit-transform:rotate(0);
	-moz-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-ms-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
	
	/*-webkit-animation: videoImageFadeIn 1s ease-out;
	-moz-animation: videoImageFadeIn 1s ease-out;
	-ms-animation: videoImageFadeIn 1s ease-out;*/
}

.videoInfo.open .videoTitle {
	opacity:1;
	left:0;
	
	-webkit-animation: videoTextFadeIn 0.8s ease-out;
	-moz-animation: videoTextFadeIn 0.8s ease-out;
	-ms-animation: videoTextFadeIn 0.8s ease-out;
}
.videoInfo.open .btn {
	opacity:1;
	left:0;
	
	-webkit-animation: videoTextFadeIn 1s ease-out;
	-moz-animation: videoTextFadeIn 1s ease-out;
	-ms-animation: videoTextFadeIn 1s ease-out;
}





/*
 * ANIMATIONS: PLAY
 */
#playerWrap.play .videoInfo .disc_mask_outer {
	top:0;
	
	-webkit-animation: spinningDisc 6s linear infinite;
	-moz-animation: spinningDisc 6s linear infinite;
	-ms-animation: spinningDisc 6s linear infinite;
	
	-webkit-animation-play-state:running;
	-moz-animation-play-state:running;
	-ms-animation-play-state:running;	
}
#playerWrap.play .videoInfo .videoTitle {
	opacity:1;
	left:0;
}
#playerWrap.play #counter {
	left:0;
	opacity:1;
}

/*
 * ANIMATIONS: PAUSE
 */
#playerWrap.pause .videoInfo .disc_mask_outer {
	top:0;
	/*-webkit-animation-play-state:paused !important;*/ /* WHY U NO WORK !?!?!? */
	-webkit-animation:none;
	-moz-animation:none;
	-ms-animation:none;
}


#videoForm.play #videoUrl {
	top:-55px;
}
#videoForm.play label {
	color:#fff;
	margin-left:-240px;
}




	










/**
 *******************************************************************************
 * @section Animations
 *******************************************************************************
 */


/*
 * @subsection Flying Error
 */
@-webkit-keyframes flyingError {
	0% {
		opacity:1;
		top: 26px;
	}
	/* failure tolerance for javascript timer */
	95% {
		opacity:0;
		top: -20px;
	}
	100% {
		opacity:0;
		top: -20px;
	}
}
@-moz-keyframes flyingError {
	0% {
		opacity:1;
		top: 26px;
	}
	/* failure tolerance for javascript timer */
	95% {
		opacity:0;
		top: -20px;
	}
	100% {
		opacity:0;
		top: -20px;
	}
}
@-ms-keyframes flyingError {
	0% {
		opacity:1;
		top: 26px;
	}
	/* failure tolerance for javascript timer */
	95% {
		opacity:0;
		top: -20px;
	}
	100% {
		opacity:0;
		top: -20px;
	}
}
/*
 * @subsection Spinning Disc
 */
@-webkit-keyframes spinningDisc {
	0% {
		-webkit-transform:rotate(0);
	}
	100% {
		-webkit-transform:rotate(360deg);
	}
}
@-moz-keyframes spinningDisc {
	0% {
		-moz-transform:rotate(0);
	}
	100% {
		-moz-transform:rotate(360deg);
	}
}
@-ms-keyframes spinningDisc {
	0% {
		-ms-transform:rotate(0);
	}
	100% {
		-ms-transform:rotate(360deg);
	}
}

/*
 * @subsection Video Image FadeIn
 */
@-webkit-keyframes videoImageFadeIn {
	0% {
		top:210px;
		-webkit-transform:rotate(-270deg);
	}
	100% {
		top:0;
		-webkit-transform:rotate(0);
	}
}
@-moz-keyframes videoImageFadeIn {
	0% {
		top:210px;
		-moz-transform:rotate(-270deg);
	}
	100% {
		top:0;
		-moz-transform:rotate(0);
	}
}
@-ms-keyframes videoImageFadeIn {
	0% {
		top:210px;
		-ms-transform:rotate(-270deg);
	}
	100% {
		top:0;
		-ms-transform:rotate(0);
	}
}

/*
 * @subsection Video Text FadeIn
 */
@-webkit-keyframes videoTextFadeIn {
	0% {
		opacity:0;
		left:-50px;
	}
	50% {
		opacity:0;
		left:-50px;
	}
	100% {
		opacity:1;
		left:0;
	}
}
@-moz-keyframes videoTextFadeIn {
	0% {
		opacity:0;
		left:-50px;
	}
	50% {
		opacity:0;
		left:-50px;
	}
	100% {
		opacity:1;
		left:0;
	}
}
@-ms-keyframes videoTextFadeIn {
	0% {
		opacity:0;
		left:-50px;
	}
	50% {
		opacity:0;
		left:-50px;
	}
	100% {
		opacity:1;
		left:0;
	}
}
