@import
	"includes/reset",
	"includes/webfont",
	"includes/global",
	"includes/header",
	"includes/intro",
	"includes/button",
	"includes/counter",
	"includes/disc",
	"includes/list",
	"includes/form",
	"includes/player",
	"includes/videoinfo";





/*
.videoInfo.open .disc_mask_outer {
	top: 0 !important;
	
	transform: rotate(0);
	transition: 1s ease-out;
}

*/