html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* Hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

strong, th {
  font-weight: bold; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/**
 *******************************************************************************
 * @section Primary Styles
 *******************************************************************************
 */
::-moz-selection {
  color: #000;
  background: #0cf; }

::selection {
  color: #000;
  background: #0cf; }

@font-face {
  font-family: "yHarabara";
  src: url("../fonts/Harabara.ttf"); }

/*
 * @subsection Layout
 */
body {
  background-color: #000;
  background-image: url(../img/bg.png);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRFExMTFBQUHBwcERERwOieKwAAADVJREFUeNpiYGCGAUYmFDYDsjgDshoGZPUMyHoZkM0BkzAzGUDiMBMZkO1iQLaXAdkNAAEGAG9TAW6SJWqTAAAAAElFTkSuQmCC);
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2em;
  text-align: center; }

.pageWrap {
  width: 550px;
  margin: 60px 0 0 25%;
  padding-bottom: 50px; }

.logo {
  border-radius: 50px;
  background: #252525;
  width: 256px;
  height: 100px;
  margin: 0 0 20px -96px;
  position: relative;
  text-align: left;
  padding-left: 96px; }

.logo h1 {
  font-family: yHarabara, Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-size: 64px;
  color: #fff;
  padding-top: 28px; }

.logo img {
  position: absolute;
  left: 17px;
  top: 17px;
  -webkit-animation: spinningDisc 6s linear infinite;
  -moz-animation: spinningDisc 6s linear infinite;
  -ms-animation: spinningDisc 6s linear infinite; }

.intro {
  margin-bottom: 60px;
  height: 40px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.intro.closed {
  height: 0;
  margin-bottom: 0px; }

/*
 * @subsection Base Elements
 */
.cursive {
  font-weight: bold;
  text-align: left;
  line-height: 1em;
  font-style: italic;
  text-transform: uppercase; }

.small {
  font-size: 14px; }

.large {
  font-size: 20px; }

.flyingError {
  color: #666666;
  position: absolute;
  left: 110px;
  top: 26px;
  -webkit-animation: flyingError 1s ease-out 1;
  -moz-animation: flyingError 1s ease-out 1;
  -ms-animation: flyingError 1s ease-out 1; }

/*
 * @subsection Buttons
 */
.btn {
  background: 0;
  border: 0;
  color: #0cf;
  text-decoration: underline;
  padding-left: 32px;
  line-height: 27px;
  background: url(../img/sprite.png) no-repeat; }

.btnLoop {
  background-position: 0 0; }

.btnCancel {
  color: #333;
  background-position: 0 -30px; }

.btnShuffle {
  background: transparent;
  position: relative;
  text-decoration: none; }

.btnShuffle .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: url(../img/sprite.png) -10px -150px repeat-x; }

.btnShuffle .caption {
  display: block;
  overflow: hidden;
  float: left; }

.btnPlay,
.btnRemove,
.btnMove {
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.btnPlay {
  background-position: 0 -60px; }

.btnMove {
  cursor: move;
  background-position: 0 -90px; }

.btnRemove {
  background-position: 0 -120px; }

.btnRemove:hover,
.btnMove:hover {
  background-color: #0cf; }

.btnPlay:hover {
  background-color: #252525; }

.counter {
  width: 200px;
  margin-left: -210px;
  text-align: right;
  position: absolute;
  left: 30px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.counter dt {
  color: #666;
  margin-bottom: 3px;
  padding-right: 1px; }

.counter dd {
  font-size: 20px;
  margin-bottom: 10px; }

/*
 * @subsection disc
 */
.disc_mask_outer {
  position: relative;
  float: left;
  margin-right: 10px;
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  transform: rotate(-270deg);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.disc_mask_outer:after {
  position: absolute;
  content: "";
  border-radius: 8px;
  width: 16px;
  height: 16px;
  left: 38px;
  top: 38px;
  background: #000; }

.disc_mask {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 45px; }

.disc_mask img {
  height: 90px; }

/*
 * @subsection Video Form
 */
.videoForm {
  z-index: 2;
  position: relative; }

.videoForm label {
  display: block;
  margin-left: -235px;
  margin-bottom: 5px;
  width: 230px;
  text-align: right;
  color: #0cf; }

.videoForm dfn {
  display: block; }

.videoUrl {
  display: block;
  color: #646464;
  border: 0;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  width: 400px;
  position: relative;
  top: 0;
  outline: 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

/*
 * @subsection playerWrap
 */
.playerWrap {
  height: 0;
  margin-bottom: 0;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.playerWrap.open {
  height: 369px;
  margin-bottom: 40px; }

.playerWrap .inner {
  height: 0;
  position: relative;
  background: #000;
  overflow: hidden;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.playerWrap.open .inner {
  height: 309px; }

.playerWrap.play .inner {
  overflow: visible; }

/*
 * @subsection videoInfo
 */
.videoInfo {
  position: relative;
  z-index: 1;
  text-align: left;
  line-height: 1em;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 0;
  margin-bottom: 0;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.videoInfo h1 {
  padding-top: 33px;
  padding-bottom: 5px; }

.videoInfo .videoTitle {
  position: relative;
  opacity: 0;
  left: -30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.videoInfo .btn {
  position: relative;
  opacity: 0;
  left: -40px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

#previewInfo.open {
  height: 210px;
  margin-bottom: -100px; }

#previewInfo .disc_mask_outer {
  top: 210px; }

#previewInfo.open.play {
  height: 155px;
  margin-bottom: -45px; }

#previewInfo.play .disc_mask_outer {
  top: 155px; }

#videoInfo.open {
  height: 60px; }

#videoInfo .disc_mask_outer {
  top: 60px; }

/*
 * ANIMATIONS: PREVIEW
 */
#previewInfo:hover .disc_mask_outer {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg); }

.videoInfo.open .disc_mask_outer {
  top: 0 !important;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
  /*-webkit-animation: videoImageFadeIn 1s ease-out;
  -moz-animation: videoImageFadeIn 1s ease-out;
  -ms-animation: videoImageFadeIn 1s ease-out;*/ }

.videoInfo.open .videoTitle {
  opacity: 1;
  left: 0;
  -webkit-animation: videoTextFadeIn 0.8s ease-out;
  -moz-animation: videoTextFadeIn 0.8s ease-out;
  -ms-animation: videoTextFadeIn 0.8s ease-out; }

.videoInfo.open .btn {
  opacity: 1;
  left: 0;
  -webkit-animation: videoTextFadeIn 1s ease-out;
  -moz-animation: videoTextFadeIn 1s ease-out;
  -ms-animation: videoTextFadeIn 1s ease-out; }

/*
 * ANIMATIONS: PLAY
 */
#playerWrap.play .videoInfo .disc_mask_outer {
  top: 0;
  -webkit-animation: spinningDisc 6s linear infinite;
  -moz-animation: spinningDisc 6s linear infinite;
  -ms-animation: spinningDisc 6s linear infinite;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running; }

#playerWrap.play .videoInfo .videoTitle {
  opacity: 1;
  left: 0; }

#playerWrap.play #counter {
  left: 0;
  opacity: 1; }

/*
 * ANIMATIONS: PAUSE
 */
#playerWrap.pause .videoInfo .disc_mask_outer {
  top: 0;
  /*-webkit-animation-play-state:paused !important;*/
  /* WHY U NO WORK !?!?!? */
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none; }

#videoForm.play #videoUrl {
  top: -55px; }

#videoForm.play label {
  color: #fff;
  margin-left: -240px; }

/**
 *******************************************************************************
 * @section Animations
 *******************************************************************************
 */
/*
 * @subsection Flying Error
 */
@-webkit-keyframes flyingError {
  0% {
    opacity: 1;
    top: 26px; }

  /* failure tolerance for javascript timer */
  95% {
    opacity: 0;
    top: -20px; }

  100% {
    opacity: 0;
    top: -20px; } }

@-moz-keyframes flyingError {
  0% {
    opacity: 1;
    top: 26px; }

  /* failure tolerance for javascript timer */
  95% {
    opacity: 0;
    top: -20px; }

  100% {
    opacity: 0;
    top: -20px; } }

@-ms-keyframes flyingError {
  0% {
    opacity: 1;
    top: 26px; }

  /* failure tolerance for javascript timer */
  95% {
    opacity: 0;
    top: -20px; }

  100% {
    opacity: 0;
    top: -20px; } }

/*
 * @subsection Spinning Disc
 */
@-webkit-keyframes spinningDisc {
  0% {
    -webkit-transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spinningDisc {
  0% {
    -moz-transform: rotate(0); }

  100% {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes spinningDisc {
  0% {
    -ms-transform: rotate(0); }

  100% {
    -ms-transform: rotate(360deg); } }

/*
 * @subsection Video Image FadeIn
 */
@-webkit-keyframes videoImageFadeIn {
  0% {
    top: 210px;
    -webkit-transform: rotate(-270deg); }

  100% {
    top: 0;
    -webkit-transform: rotate(0); } }

@-moz-keyframes videoImageFadeIn {
  0% {
    top: 210px;
    -moz-transform: rotate(-270deg); }

  100% {
    top: 0;
    -moz-transform: rotate(0); } }

@-ms-keyframes videoImageFadeIn {
  0% {
    top: 210px;
    -ms-transform: rotate(-270deg); }

  100% {
    top: 0;
    -ms-transform: rotate(0); } }

/*
 * @subsection Video Text FadeIn
 */
@-webkit-keyframes videoTextFadeIn {
  0% {
    opacity: 0;
    left: -50px; }

  50% {
    opacity: 0;
    left: -50px; }

  100% {
    opacity: 1;
    left: 0; } }

@-moz-keyframes videoTextFadeIn {
  0% {
    opacity: 0;
    left: -50px; }

  50% {
    opacity: 0;
    left: -50px; }

  100% {
    opacity: 1;
    left: 0; } }

@-ms-keyframes videoTextFadeIn {
  0% {
    opacity: 0;
    left: -50px; }

  50% {
    opacity: 0;
    left: -50px; }

  100% {
    opacity: 1;
    left: 0; } }
