/*
 * @subsection counter
 */	
 .counter {
	position: absolute;
	left: 30px;
	bottom: 0;
	width: 200px;
	margin-left: -210px;
	text-align: right;
	opacity: 0;

	transition: 0.5s;

	@extend .cursive;
	@extend .small;
}

.counter__play {
	left: 0;
	opacity: 1;
}

.counter--caption {
	margin-bottom: 3px;
	padding-right: 1px;
	color: #666;
}
.counter--value {
	margin-bottom: 10px;
	font-size: 20px;
}