/*
 * @subsection disc
 */
.disc {
	position: relative;
	float: left;
	margin-right: 10px;

	transition: 1s ease-out;
}
.disc::after {
	position: absolute;
	content: "";
	border-radius: 8px;
	width: 16px;
	height: 16px;
	left: 38px;
	top: 38px;
	background: #000;
}

.disc__hidden {
	transform: translateY(210px) rotate(-270deg);
}

.disc__play {
	animation: spinningDisc 6s linear infinite;
}

.disc__pause {
	top: 0;
	animation-play-state: paused;
}

.disc--mask {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 45px;
}
	
.disc--image {
	height: 90px;
}

@keyframes spinningDisc {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}