/*
 * @subsection form
 */
.form {
	z-index: 2;
	position: relative;
}
.form--caption {
	display: block;
	margin-left: -235px;
	margin-bottom: 5px;
	width: 230px;
	text-align: right;
	color: #0cf;

	@extend .cursive; 
	@extend .small;

	dfn {
		display: block;
	}
}

.form--caption__play {
	color: #fff;
	margin-left: -240px;
}

.form--input {
	display: block;
	color: #646464;
	border: 0;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
	width: 400px;
	position: relative;
	top: 0;
	outline: 0;
	border-radius: 0 30px 30px 0;

	transition: 0.5s ease-out;

	@extend .cursive;
	@extend .large;
}

.form--input__play {
	top: -55px;
}


.form--error {
	color: #666666;
	position: absolute;
	left: 110px;
	top: 26px;
	
	animation: flyingError 1s ease-out 1;

	@extend .cursive;
	@extend .large;
}

@keyframes flyingError {
	0% {
		opacity: 1;
		top: 26px;
	}
	100% {
		opacity: 0;
		top: -20px;
	}
}