/*
 * @subsection form
 */
.form {
	z-index: 2;
	position: relative;
}
.form--caption {
	display: block;
	margin-left: -235px;
	margin-bottom: 5px;
	width: 230px;
	text-align: right;
	color: #0cf;

	@extend .cursive; 
	@extend .small;

	dfn {
		display: block;
	}
}

.form--input {
	position: relative;
	display: block;
	color: #646464;
	border: 0;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
	width: 400px;
	outline: 0;
	border-radius: 0 30px 30px 0;

	transition: 0.5s ease-out;

	@extend .cursive;
	@extend .large;
}

/*
 * Play State
 */
.form__play {

	.form--input {
		transform: translateY(-55px);
	}

	.form--caption {
		color: #fff;
		margin-left: -240px;
	}
}


.form--error {
	position: absolute;
	left: 110px;
	top: 26px;
	color: #666;
	
	animation: flyingError 1s ease-out 1;

	@extend .cursive;
	@extend .large;
}

@keyframes flyingError {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-50px);
	}
}