/*
 * @subsection videoInfo
 */	
.videoInfo {
	position: relative;
	z-index: 1;
	text-align:left;
	line-height:1em;
	margin-bottom: 10px;
	overflow: hidden;
	cursor:pointer;
	
	height:0;
	margin-bottom:0;
	
	-webkit-transition:0.5s ease-out;
	-moz-transition:0.5s ease-out;
	-ms-transition:0.5s ease-out;
	-o-transition:0.5s ease-out;
	transition:0.5s ease-out;
	}
	.videoInfo h1 {
		padding-top:33px;
		padding-bottom:5px;
	}
	.videoInfo .videoTitle {
		position:relative;
		opacity:0;
		left:-30px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow:hidden;
		
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		-ms-transition:0.5s;
		-o-transition:0.5s;
		transition:0.5s;
	}
	.videoInfo .btn {
		position:relative;
		opacity:0;
		left:-40px;
		
		-webkit-transition:0.5s ease-out;
		-moz-transition:0.5s ease-out;
		-ms-transition:0.5s ease-out;
		-o-transition:0.5s ease-out;
		transition:0.5s ease-out;
	}
	
	
	#previewInfo.open {
		height: 210px;
		margin-bottom: -100px;
	}
	#previewInfo .disc_mask_outer {
		top:210px;
	}
	
	#previewInfo.open.play {
		height: 155px;
		margin-bottom: -45px;
	}
	#previewInfo.play .disc_mask_outer {
		top:155px;
	}
	
	
	
	#videoInfo.open {
		height: 60px;
	}
	#videoInfo .disc_mask_outer {
		top: 60px;
	}