/*
 * @subsection videoinfo
 */	
.videoinfo {
	position: relative;
	z-index: 1;
	text-align: left;
	line-height: 1em;
	height: 0;
	margin-bottom: 0;
	overflow: hidden;
	
	transition: 0.5s ease-out;

	@extend .cursive;
	@extend .large;
}
.videoinfo--caption {
	position: relative; 
	padding-top: 33px;
	padding-bottom: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	
	transition: 0.5s ease-out;
}

.videoinfo--caption__hidden {
	opacity: 0;
	transform: translateX(-30px);
}

.videoinfo--caption__play {
	opacity: 1;
	left: 0;
}


/*
 * Current Video Info
 */
.videoinfo__current.videoinfo__open {
	height: 60px;
}


/*
 * Preview Video Info
 */
.videoinfo__preview.videoinfo__open {
	height: 210px;
	margin-bottom: -100px;
}

/*
 * Preview Video Info While Playing
 */
.videoinfo__preview.videoinfo__open.videoinfo__play {
	height: 155px;
	margin-bottom: -45px;
}